In [15]:
import sqlite3
conn = sqlite3.connect('sudents.db3')

cur1=conn.cursor()
cur1.execute('DROP TABLE IF EXISTS sts')
cur1.execute('CREATE TABLE sts (stID PRIMARY KEY, StName TEXT')
cur1.execute('INSERT INTO sts (StID,StName) VALUES ("200445238","Salah Kareem")')
cur1.execute('INSERT INTO sts (StID,StName) VALUES ("200445237","Leonardo Muzi")')
cur1.execute('INSERT INTO sts (StID,StName) VALUES ("200445236","Abdelrahman Tealab")')
conn.commit()
cur1.execute('DROP TABLE IF EXISTS courses')
cur1.execute('CREATE TABLE courses (courseID PRIMARY KEY, courseName TEXT course INTEGER, FOREIGN KEY (stID) REFERENCES sts(courseID)))')
cur1.execute('INSERT INTO courses (courseID, courseName) VALUES ("221","Data programming")')
cur1.execute('INSERT INTO courses (courseID, courseName) VALUES ("222","Data Manipulation")')

p = cur1.execute('SELECT sts.StName, courses.courseName FROM sts INNER JOIN courses ON sts.StID = courses.st')
for row in p:
    print (p)

OperationalError: no such column: courses.st